@include grids(d,
	24,
	20px,
	20px,
	0 2 3 4 6 8 12 16 24,
	0 2 4 6 8 12);

table, th, td{
border-collapse: collapse;
}
th, td{
	text-align: center;
}
body {
    background-color: #CCCCCC;
}

.background{
	background:#b29f9f;
}

/*	SYLIZING / COLOR */
.topbar{
	background:#a27171;
	font-family:"Lucida Sans Unicode";
	font-size:22px;
	overflow:hidden;
}

.topbar_valid{
	background:#f1f1f1;
}

.npc{
	background:#a27171;
}

.reset{
	background:#a27171;
}

.reset_tall{
	background:#a27171;
}

.valid{
	background:url(/mancala/future/valid.png);
	background-repeat: no-repeat;
}

.square{
	background:url(/mancala/future/square.png);
	background-repeat: no-repeat;
}

.tall{
	background:url(/mancala/future/tall.png);
}

.menu{
	background:#a27171;
}

.theme{
	background:#a27171;
}

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 0%;
}

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

.span_2_of_4 {
	width: 49.2%;
}
.span_1_of_4 {
	width: 21.85%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.categories, .content, .sidebar  {
		margin: 1% 0 1% 0%;
		width: 100%; 
	}
}

