

body {
    background-color: #CCCCCC;
}

/*	SYLIZING / COLOR */
.box_yellow{
	display:block;background:#FF9900;
	padding:0em 1.5em;
	margin-bottom:1.5em;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-ms-border-radius:4px;
	-o-border-radius:4px;
	border-radius:4px;
	overflow:hidden;
	*zoom:1
}

.box_orange{
	display:block;background:#FF5500;
	padding:0em 1.5em;
	margin-bottom:1.5em;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-ms-border-radius:4px;
	-o-border-radius:4px;
	border-radius:4px;
	overflow:hidden;
	*zoom:1
}

.box_blue{
	display:block;background:#2589e6;
	padding:0em 1.5em;
	margin-bottom:1.5em;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-ms-border-radius:4px;
	-o-border-radius:4px;
	border-radius:4px;
	overflow:hidden;
	*zoom:1
}

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 1% 0%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF FOUR  */
.span_4_of_4 {
	width: 96%;
}
.span_3_of_4 {
	width: 74.6%;
}
.span_2_of_4 {
	width: 48.5%;
}
.span_1_of_4 {
	width: 21.85%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0px 1% 1.6%; }
	.span_1_of_4, .span_2_of_4, .span_3_of_4, .span_4_of_4 { width: 100%; }
}
